.body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(0,172,255);
background: radial-gradient(circle, rgba(0,172,255,1) 0%, rgba(163,255,189,1) 100%);
}
.div{ 
width: 50%;    
height: 100%;
margin-left: 20%;
margin-right:20%;
padding: 5%;
background-color: #ffffffbb;
}

.button{
    padding: 0 10px 0 10px;
    font-size: 25px;
}